//Left Container for links 
.main-tab{
    width: 20%;
    height: 90%;
    margin: 5%;
    margin-top: 3%;
    background-color: rgb(50, 72, 244);
    border-radius: 22px;
    color: white;
    display: inline-block;
    position: fixed;
}

span{
    vertical-align: text-top;
}

//Individual parts of the left tab

a{
    color: white;
    vertical-align: text-top;
    font-size: large;
    text-decoration: none;
}

//Profile picture
.face-image{
    height: 20%;
}

.profile-picture{
    height: 6em;
    width: 6em;
    border-radius: 100%;
    margin: 10%;
    border: 0.2em solid white
}

//Jobs
.name{
    height: 13%;
}

.name-font{
    font-weight: bold;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 5%;
}

.job{
    text-transform: uppercase;  
    margin-left: 10%;
    font-size: large;
}

//Links
.page-links{
    height: 52%;
}

.category{
    font-size: large;
    margin-top: 3.5%;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.category:hover{
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
    //background-color: blue; //Transition to another color
}

.icon{
    height: 1.4em;
    width: 1.4em;
    margin-left: 10%;
    margin-right: 5%;
}

//Social media links
.social-media{
    height: 15%;
    text-align: center;
}

.social-icon{
    height: 1.7em;
    width: 1.7em;
    margin: 5%;
    cursor: pointer;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.social-icon:hover {
    -webkit-transform : rotate(360deg) scale(1.4); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(360deg) scale(1.4); /* IE 9 */
    transform         : rotate(360deg) scale(1.4); /* Firefox 16+, IE 10+, Opera */
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 30, 227, 0.92);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .title_settings{
    font-size: 50px;
    font-weight: bold;
    color: white;
    inline-size: block;
    line-height: 1em;
  }

  mat-slide-toggle{
      margin-top: 250%;
  }

  .selector{
    height: 60px;
    margin: 0 5%;
  }

  .flags{
    height: 60px;
    margin: 0 5%;
  }

  .aux{
    height: auto;
    vertical-align: bottom;
  }

  .aux-top{
    height: 50%;
  }

  .aux-bottom{
     height: 50%; 
     color: rgba(0, 30, 227, 0);
}

  .aux-container{
    display: inline-block;
  }

  
/*-------------------------------------
---------------------------------------
            MOBILE VIEW
---------------------------------------
---------------------------------------*/

@media only screen and (max-width: 600px){
    .main-tab{
        display: none;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
