<div class="main-tab" id="main-tab">
    <!--Part for the profile picture-->
    <div class="face-image">
        <img
            class="profile-picture"
            src="../../assets/images/IMG_20210308_124449_2.jpg"
        />
    </div>

    <!--Part for the profile name and job-->
    <div class="name">
        <div class="name-font">{{ "full_name" | translate }}</div>
        <br />
        <div class="job">{{ "job" | translate }}</div>
    </div>

    <!--Part for the links included at the page-->
    <div class="page-links">
        <a [routerLink]="['']" fragment="inicio"
            ><div class="category">
                <img class="icon" src="../../assets/icons/home.png" />{{
                    "home" | translate
                }}
            </div></a
        >
        <a [routerLink]="['']" fragment="sobre"
            ><div class="category">
                <img class="icon" src="../../assets/icons/user-1.png" />{{
                    "about_me.title" | translate
                }}
            </div></a
        >
        <a [routerLink]="['']" fragment="educacion"
            ><div class="category">
                <img class="icon" src="../../assets/icons/atomic.png" />{{
                    "education.title" | translate
                }}
            </div></a
        >
        <a [routerLink]="['']" fragment="habilidades"
            ><div class="category">
                <img class="icon" src="../../assets/icons/monitor.png" />{{
                    "skills.title" | translate
                }}
            </div></a
        >
        <a [routerLink]="['']" fragment="experiencia"
            ><div class="category">
                <img class="icon" src="../../assets/icons/layers.png" />{{
                    "experience.title" | translate
                }}
            </div></a
        >
        <a [routerLink]="['']" fragment="contacto"
            ><div class="category">
                <img class="icon" src="../../assets/icons/chat.png" />{{
                    "contact.title" | translate
                }}
            </div></a
        >
    </div>

    <!--Part for the social media icons-->
    <div class="social-media">
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/enriqueloz88"
        >
            <img class="social-icon" src="../../assets/icons/github.png"
        /></a>
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/in/enrique-lozano-cebriano-5859031a2/"
        >
            <img class="social-icon" src="../../assets/icons/linkedin.png" />
        </a>
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:kikelozano8@gmail.com"
        >
            <img class="social-icon" src="../../assets/icons/email.png"
        /></a>
    </div>
</div>
