<ul class="timeline">
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">2017 - 2021</p>
        <h3>Universidad Carlos III de Madrid</h3>
        <h4>Madrid-España</h4>
        <p><strong>Grado en Ingeniería Informática</strong><br>Mención en computación</p>
      </div>
    </li>
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">2019 - 2020</p>
        <h3>Politechnika Warszawska</h3>
        <h4>Varsovia-Polonia</h4>
        <p><strong>Bachelor in Computer Science</strong><br>Erasmus+ Grado</p>
      </div>
    </li>
  </ul> 
  
<!--The template for this timeline was done by https://codepen.io/Fischaela Thank you Fischaela-->