<ul class="timeline">
    <li class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">2017 - 2021</p>
            <h3>{{ "education.uc3m" | translate }}</h3>
            <h4>{{ "education.madrid" | translate }}</h4>
            <p>
                <strong>{{ "education.uc3m_studies" | translate }}</strong
                ><br />Mención en computación
            </p>
        </div>
    </li>
    <li class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">2019 - 2020</p>
            <h3>Politechnika Warszawska</h3>
            <h4>{{ "education.warsaw" | translate }}</h4>
            <p><strong>Bachelor in Computer Science</strong><br />Erasmus+ Grado</p>
        </div>
    </li>
</ul>

<!--The template for this timeline was done by https://codepen.io/Fischaela. Thank you Fischaela!-->
